.g1-hb {
    display:none;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 13px;
    background: #ededed;
}
.rtl .g1-hb {
    left: auto;
    right: 0;
}


.g1-hb-layout{
    background:#fff;
}

.g1-hb-top-bar{
    background: #272727;
}

.g1-hb-top-bar{
    display: flex;
}

.g1-hb-tabs-switcher{
    display: flex;
}

.g1-hb-element-container{
    font-size: 0px;
}

.g1-hb-element{
    display: inline-block;
    margin: 5px 12px;
    padding: 5px 7px;

    white-space: nowrap;

    font-size:13px;
    border: 1px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
    color:#232323;
    background: #fff;
}

.g1-hb-element:hover,
.g1-hb-layout-row-handle:hover,
.g1-hb-layout-button-settings:hover{
    cursor:pointer;
}


.g1-hb-button {
    color:white;
    opacity:0.5;
    padding: 10px;
    font-weight:500;
}


.g1-hb-tabs-switcher-close{
    display: flex;
    align-items: center;
    padding: 14px 14px;
    border-width: 0 0 0 1px;
    margin-left: auto;


    font-size: 0;

    border-style: solid;
    border-color: #474747;
    opacity: 1;
}
.rtl .g1-hb-tabs-switcher-close {
    border-width: 0 1px 0 0;
    margin-left: 0;
    margin-right: auto;
}

.g1-hb-tab-active,
.g1-hb-button:hover{
    opacity:1;
    cursor:pointer;
    border-bottom:4px solid #b3b3b3;
}

.g1-hb-tabs-switcher-close:hover{
    border-bottom:none;
}

.g1-hb-highlight{
    display: inline-block;
    height:18px;
    margin: 5px 10px;
    padding: 5px 7px;
    background: #fff;
    white-space: nowrap;

    border: 1px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
}
.g1-hb-highlight-row{
    display: inline-block;
    height:18px;
    margin: 5px 10px;
    padding: 5px 7px;

    white-space: nowrap;

    background: #fff;
}


.g1-hb-layout-row-wrapper{
    border-bottom:1px solid #ededed;
    background:#fff;
    padding:2px 0;
    display:flex;
}

.g1-hb-layout-row{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-grow:1;
}

.g1-hb-layout-col{
    margin:5px;
    display:flex;
    border-radius:7px;
    background:#ededed;
}

.g1-hb-layout-col-canvas{
    flex-basis:100%;
    flex-grow:1;
}

.g1-hb-layout-col-settings{
    display: flex;
    align-items: center;
    position:relative;
}

.g1-hb-layout-row-settings:before,
.g1-hb-layout-col-settings:before{
    font: 16px "dashicons";
    content: "\f111";
    padding: 5px;
}

.g1-hb-layout-col-settings:before{
    position: relative;
    left: 2px;
}

.rtl .g1-hb-layout-col-settings:before{
    right: 2px;
    left: auto;
}

.g1-hb-layout-settings-box{
    display:none;
    padding:10px;

    position: absolute;
    z-index: 1;
    top: 10px;
    left: 5px;

    color: #555555;
    background: #fff;

    border:1px solid black;
}
.rtl .g1-hb-layout-settings-box {
    left: auto;
    right: 5px;
}

.g1-hb-tabs-mobile .g1-hb-layout-row-style{
    display:none;
}

.g1-hb-layout-col-3 .g1-hb-layout-settings-box{
    left:auto;
    right:5px;
}
.rtl .g1-hb-layout-col-3 .g1-hb-layout-settings-box{
    right: auto;
    left: 5px;
}

.g1-hb-layout-settings-box-visible{
    display:flex;
    padding-right: 30px;
}
.rtl .g1-hb-layout-settings-box-visible{
    padding-right: 0;
    padding-left: 30px;
}


.g1-hb-layout-col-settings .g1-hb-layout-settings-box-visible{
    flex-direction: column;
    min-width: 240px;
    padding-right: 30px;
}
.rtl .g1-hb-layout-col-settings .g1-hb-layout-settings-box-visible{
    padding-right: 0;
    padding-left: 30px;
}

.g1-hb-layout-settings-box-visible div{
    padding:0 10px;
}

.g1-hb-layout-settings-box label{
    display:block;
    margin:5px 0;
}

.g1-hb-layout-row-settings{
    color:#555555;
    display: flex;
    align-items: center;
    position:relative;
    margin: 5px;
}
.g1-hb-layout-row-settings:before{
    font-size:19px;
    position:relative;
    top:-1px;
}

.g1-hb-layout-row-content{
    min-width:100px;
    min-height: 40px;
    display: flex;
    align-items: center;
    flex-grow:1;
}

.g1-hb-elements{
    padding: 10px 0;
    min-height: 40px;

    color: #555555;
    background: #ededed;
}


.g1-hb-tabs-switcher-close:before{
    font: normal 22px dashicons;
    content: "\f335";
}

.g1-hb-layout-col-2{
    justify-content: center;
}

.g1-hb-layout-col-3{
    justify-content: flex-end;
}

.g1-hb-layout-col-grow,
.g1-hb-layout-col-align{
    display:flex;
}

.g1-hb-grow-off{
    flex-grow:0;
}
.g1-hb-grow-on{
    flex-grow:1;
}

.g1-hb-align-left .g1-hb-layout-row-content{
    justify-content: flex-start;
}
.g1-hb-align-center .g1-hb-layout-row-content{
    justify-content: center;
}
.g1-hb-align-right .g1-hb-layout-row-content{
    justify-content: flex-end;
}

.g1-hb-tabs{
    display:none;
}
.g1-hb-tabs-active{
    display:block;
}

.g1-hb-tabs-content-tab{
    display:none;
}

.g1-hb-tabs-content-active{
    display:block;
}


.g1-hb-open{
    width: 100%;
    font-size: 1.2em;
}

.g1-hb-gray-out-element{
    opacity:0.5;
}

.g1-hb-element-container-header{
    margin:10px;
    font-weight:600;
    font-size:13px;
    margin-bottom:5px;
}

.g1-hb-layout-row-letter {
    display: flex;
    align-items: center;
    padding: 0 6px;

    color:#555555;
}

.g1-hb-layout-row-handle{
    color:#555555;
    display: flex;
    align-items: center;
    position:relative;
    margin: 5px;
}

.g1-hb-layout-row-handle:before{
    font: 20px "dashicons";
    content: "\f545";
    padding: 5px;
}

.g1-hb.g1-hb-vertical{
    width:300px;
    height:100%;
    top:0;
    right:0;
    left:auto;
}
.rtl .g1-hb.g1-hb-vertical{
    left: 0;
    right: auto;
}

.g1-hb-vertical .g1-hb-element-container{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
}

.g1-hb-vertical .g1-hb-element{
    width:calc(100% - 34px);
}

.g1-hb-radios label{
    margin-left: 5px;
}
.rtl .g1-hb-radios label{
    margin-left: 0;
    margin-right: 5px;
}

.customize-control 
 input[type=number].small-text { width: 65px; }

 .g1-hb-settings-box-close-button:before{
    font: normal 22px dashicons;
    content: "\f335";
}

.g1-hb-settings-box-close-button {
    position: absolute;
    right: 0;
}

.g1-hb-settings-box-close-button{
    right: auto;
    left: 0;
}

